@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 min-h-screen;
  }
}

@layer components {
  .input-style {
    @apply w-full p-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#8FBC8B];
  }

  .btn-primary {
    @apply bg-[#8FBC8B] text-white font-semibold py-2 px-4 rounded-xl hover:bg-green-600 transition-all duration-300 shadow-md;
  }
}

#app {
  min-height: 100vh;
  width: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #8FBC8B;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(143, 188, 139, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}